.sidebar__header{
    display: flex;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

.sidebar__headerImage{
    flex: 0.4;
}

.sidebar__headerName{
    flex: 0.6;
    align-self: center;
    padding-left: 10px;
}