<div className="chat">
    <div className="chat__header">
        <div className="chat__headerLeft">
            <h4 className="chat__channelName">
                <strong># {roomDetails?.name} </strong>
                <StartBorderOutlinedIcon />
            </h4>
        </div>
        <div className="chat__headerRight">
            <p>
                <InfoOutlinedIcon />
                Details
            </p>
        </div>
    </div>
    <div className="chat__messages">
        {
        roomMessage.map(({{ message, timestamp, user, userImage }}))
        }
    </div>
</div>